<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Gossip Digest</title>
  </head>

  <!-- Form -->

  <body>
    <main class="measure center">
      <%= render 'shared/form_login'%>
    </main>
  </body>
