<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Gossip Digest</title>
  </head>

  <!-- Form -->

  <body>
      <%= render 'shared/form_login'%>
  </body>
</html>
