<article class="helvetica pb5">
  <header class="vh-100 bg-light-pink dt w-100">
    <div 
      style="background:url(http://mrmrs.github.io/photos/display.jpg) no-repeat center right;background-size: cover;" 
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 tc">Welcome to the Gossip Digest</h1>
      <% if logged_in? %>
          <h1 class="f3">You are Logged In, <%= current_user.username %></h1>
        <% end %>
      <div class="tc-l mt4 mt5-m mt6-l ph3">
            <%= link_to "Login", '/login', method: :get, class: "f6 no-underline grow dib v-mid bg-black white ba b--blue ph3 pv2 mb3" %>
            <span class="dib v-mid ph3 white-70 mb3"></span>
            <%= link_to "Sign Up", '/users/new', method: :get, class: "f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" %>
      </div>
    </div>
  </header>

