<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! <%= @user.first_name %> and welcome to the Gossip Digest !</h1>
    <p>
      You've just signed up to the Gossip Digest: <%= @user.email %>.
    </p>
    <p>
      Back to the Gossip Digest <%= @url %>.
    </p>
    <p> See you around! </p>
  </body>
</html>