<% @comments.each do | comment | %>
<article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
  <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3 lh-copy serif"><%= comment.author %></h1>
    <div class="pa3 bt b--black-10">
      <p class="f6 f5-ns lh-copy serif">
        <%= comment.content %>
      </p>
    </div>
</article>
<% end %>