<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>New Gossip</title>
  </head>
  <body>
    <%= form_with url: comments_path, method: :post do |form| %>
      <%= form.text_area :body, class: 'db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2', placeholder: 'Leave a comment...' %>
      <%= form.submit 'Submit', class: 'f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-blue' %>
    <% end %>
  </body>
</html>