<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sign up</title>
  </head>

  <!-- Form -->

  <body>
    <main class="measure center">
      <%= render 'shared/form_register'%>
    </main>
  </body>
</html>