    <nav class="pa3 pa4-ns">
        <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns f3 lh-copy serif" href="/" title="Home">The Gossip Digest</a>
          <div class="tc pb3">
            <li class="link dim gray f6 f5-ns dib mr3 f3 lh-copy serif"><%=link_to 'Home', '/'%></li>
            <li class="link dim gray f6 f5-ns dib mr3 f3 lh-copy serif"><%=link_to 'Contact', contact_path%></li>
            <li class="link dim gray f6 f5-ns dib mr3 f3 lh-copy serif"><%=link_to 'Team', team_path%></li>
          </div>
      </nav>